<template>
     <h1>Verify page</h1>

     <form @submit.prevent="handleSubmit">
          <label for="code">
               <input type="text" id="code" placeholder="code" v-model="code" />
          </label>

          <br />
          <br />
          <button type="submit">SUBMIT</button>
     </form>
</template>

<script setup>
import { ref } from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';

const route = useRoute();
const store = useStore();

const code = ref('');
const id = route.params.id;

const handleSubmit = async () => {
     if (code.value.length === 4) {
          await store.dispatch('verifyUser', { code: code.value, id });
     }
};
</script>
